!!! html5
%html
  %head
    %title Bob
    <script type="text/javascript" src="main.js"></script>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="main.css" />
  %body{:class => @name}
    %h1{:i18n => "test"} This is replaced by locales
    = render "pages/sample.haml"